<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Meijicconnect blog</title>
</head>
<body>

    <%- include ("./partial/headers.ejs") %>

    <h1>Post</h1>

     <%- include ("./partial/footer.ejs") %>
    
</body>
</html>